<section class="block container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique,
        ipsam neque. Sequi quam nihil ducimus tenetur cumque impedit, nisi
        deserunt maxime dicta, doloribus voluptatibus dignissimos illo odit. Hic
        suscipit ipsam asperiores eum natus nobis commodi. Modi, rem! Molestiae,
        laborum nam.
      </p>
    </header>
    <div style="width: 30%; padding: 4rem">
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatum quae adipisci dolor blanditiis iure provident expedita accusamus corporis? Eius.
        </div>
      </div>
    </div>
  </div>
  </section>
  <section class="block block--dark block--skewed-left">
      <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique,
          ipsam neque. Sequi quam nihil ducimus tenetur cumque impedit, nisi
          deserunt maxime dicta, doloribus voluptatibus dignissimos illo odit. Hic
          suscipit ipsam asperiores eum natus nobis commodi. Modi, rem! Molestiae,
          laborum nam.
        </p>
      </div>
  </section>